.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  height: 100px;
  max-width: 1920px;
  width: calc(100% + 5px);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 10;
  top: 0;
}

.nav_scrolled {
  background: rgba(0, 0, 0, 0.5);
}

.burger__btn {
  display: none;
  border: none;
  outline: none;
  background: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.burger__btn span {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.b__open {
  margin-right: 50px;
}

.b__open span {
  display: block;
  margin: 4px 0;
  width: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  height: 3px;
}

.b__open:active span {
  -webkit-box-shadow: inset 2px 2px 6px rgba(154, 147, 140, 0.5), 1px 1px 8px white;
          box-shadow: inset 2px 2px 6px rgba(154, 147, 140, 0.5), 1px 1px 8px white;
}

.b__close {
  margin-right: 15px;
  margin-bottom: 25px;
}

.b__close span {
  display: block;
  width: 30px;
  background: #FFFFFF;
  border-radius: 10px;
  height: 4px;
}

.b__close span:nth-child(1) {
  -webkit-transform: translateY(3px) rotate(135deg);
          transform: translateY(3px) rotate(135deg);
}

.b__close span:nth-child(2) {
  opacity: 0;
}

.b__close span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo p {
  font-style: normal;
  font-weight: 700;
  font-size: 30.6173px;
  line-height: 115%;
  color: #FFFFFF;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .MuiSelect-select {
  color: #FFFFFF;
}

.nav svg {
  fill: #FFFFFF;
}

.nav .css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root::after, .nav .css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root::before {
  border-bottom: 0px solid #FFFFFF;
}

.nav .css-1oejogn-MuiFormControl-root {
  margin: 0;
}

.nav .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0px;
}

.nav .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 0px;
}

.nav .MuiSelect-select:hover {
  border-bottom: 0px solid #ff0000 !important;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.9;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 30px;
}

.reg_btn {
  background: #B131DD;
  border-radius: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
  padding: 8px 15px;
}

@media (max-width: 1440px) {
  .navbar {
    max-width: 1440px;
  }
}

@media (max-width: 1300px) {
  .link {
    margin: 0 10px;
  }
}

@media (max-width: 1024px) {
  .link {
    font-size: 15px;
  }
  .reg_btn {
    font-size: 15px;
  }
  .logo p {
    font-size: 25px;
  }
  .logo img {
    width: 50px;
  }
}

@media (max-width: 935px) {
  .burger__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav {
    position: fixed;
    overflow-y: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    top: 0;
    right: -100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px 50px 30px 50px;
    -webkit-transition: 0.7s linear;
    transition: 0.7s linear;
  }
  .nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .link {
    margin: 15px 0;
  }
  .nav__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__open {
    right: 0;
  }
  .logo {
    margin-left: 50px;
  }
}

@media (max-width: 425px) {
  .logo {
    margin-left: 20px;
  }
  .burger__btn {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .navbar {
    height: 65px;
  }
}
